<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
<p class = 'head'>Lalit Kumar</p>
<p class = 'mid'> Ph. (+91) 8091792620 </p>
<p class='bot'>Email:- lalitk2282k@gmail</p>
<style>
    * {
        background: rgb(0,0,0);
background: linear-gradient(24deg, rgba(0,0,0,1) 0%, rgba(67,189,29,1) 0%, rgba(13,209,138,1) 70%);
 
  
}

    .head {
         margin-top: 5%;
        margin-left: 3%;
        font-size: 70px;
        font-family: 'Roboto Mono', monospace;      
    }
    .mid {
        margin-left: 3%;
        font-size: 40px;
        font-family: 'Roboto Mono', monospace;
    }
    .bot {
        margin-left: 3%;
        font-size: 40px;
        font-family: 'Roboto Mono', monospace;
     
    }
</style>