
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="styles.css">

<div class="about">
  <form action="/contact" method="POST">
    <button class="contact" type="submit">
      Contact
    </button>
  </form>
</div>
<div class = "buttons">
  <form action="/signin">
    <div class="container1">
        <div class="center">
          <button class="btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Sign In</span>
          </button>
        </div>
      </div>

</form>
<form action="/signup">
    <div class="container2">
        <div class="center">
          <button class="btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Sign Up</span>
          </button>
        </div>
      </div>

</form>

</div>

    <div class = "p">
      <div class = "pp">
        <div class = "upp">
          <div class= "first">H</div>
          <div class = "second">a</div> 
         
          <div class = "third">n</div>
          <div class = "fourth">d</div>
          <div class = "fifth">M</div>
          <div class = "sixth">a</div>
          <div class = "seventh">d</div>
          <div class = "eighth">e</div>
          
        </div>
        <div class="down">
          <div class = "ninth"> C</div>
          <div class = "tenth">r</div>
          <div class = "eleventh">e</div>
          <div class = "twelve">a</div>
          <div class = "thirteen">t</div>
          <div class = "fourteen">i</div>
          <div class = "fifteen">o</div>
          <div class = "sixteen">n</div>
          <div class = "seventeen">s</div>
    
        </div>
        
      </div>
      
    </div>
    
    <footer class="foot">Made With ❤️</footer>
 
     

