<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Ordered</title>
<link rel="stylesheet" href="ord.css">
<div class = 'top'>
    <p class = 'h1'>Order Placed</p>
    <form action="/bb" method="POST">
        <input type="hidden" name = "val" value="<%= user %>+<%= pass %>">
        <button class = 'back' type = 'submit'>Go Back</button>
        </form>
</div>
