
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Signup</title>
<link rel="stylesheet" href="sign.css">

<div class = "main">

<p class="sign" align ="center">Sign Up</p>
<p class = "msg" align = "center">
    Note:-
    If items page doesn't open,it indicates email already exists</p>
<form action="/signup" method = "POST">
<input type="text" class = "un" name = "username" placeholder="Enter new email" required/>
<input type="text" class ="pass" name = "password" placeholder="Enter new password" required/>
<button type = "submit" class="submit">Register</button>
</form>
</div>